ih-generic-sftp-api/src/main/app/ih-generic-sftp-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:mule-ss="http://www.mulesoft.org/schema/mule/spring-security" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:ss="http://www.springframework.org/schema/security" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/spring-security http://www.mulesoft.org/schema/mule/spring-security/3.1/mule-spring-security.xsd
http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd">
    <apikit:config name="ih-generic-sftp-api-config" raml="ih-generic-sftp-api.raml" consoleEnabled="false" doc:name="Router" />
    <flow name="ih-generic-sftp-api-main">
        <http:listener config-ref="ih-generic-sftp-api-httpListenerConfig" path="/api/*" doc:name="HTTP" />
        <apikit:router config-ref="ih-generic-sftp-api-config" doc:name="APIkit Router" />
        <exception-strategy ref="global_exception_strategy" doc:name="Reference Exception Strategy" />
    </flow>
    <flow name="ih-generic-sftp-api-console">
        <http:listener config-ref="ih-generic-sftp-api-httpListenerConfig" path="/console/*" doc:name="HTTP" />
        <apikit:console config-ref="ih-generic-sftp-api-config" doc:name="APIkit Console" />
    </flow>
    <apikit:mapping-exception-strategy name="ih-generic-sftp-api-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException"/>
            <set-variable variableName="exception" value="#['Resource ' + exception.cause.message + ' not found']" doc:name="exception"/>
            <dw:transform-message doc:name="set error message">
                <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
  "code": "404",
  "message": "Resource not found",
  "description": flowVars.exception
}]]></dw:set-payload>
            </dw:transform-message>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException"/>
            <set-variable variableName="exception" value="#['Method ' + message.inboundProperties['http.method'] + ' not allowed']" doc:name="exception"/>
            <dw:transform-message doc:name="set error message">
                <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
  "code": "405",
  "message": "Method not allowed",
  "description": flowVars.exception
}]]></dw:set-payload>
            </dw:transform-message>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException"/>
            <set-variable variableName="exception" value="#['mediatype ' + message.inboundProperties['Content-Type'] + ' not supported' ]" doc:name="exception"/>
            <dw:transform-message doc:name="set error message">
                <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
  "code": "415",
  "message": "Unsupported media type",
  "description": flowVars.exception
}]]></dw:set-payload>
            </dw:transform-message>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException"/>
            <set-variable variableName="exception" value="#[(exception.getCauseException().getMessage().split(&quot;\\n&quot;))[0].replace(&quot;\&quot;&quot;,&quot;\\\&quot;&quot;)]" doc:name="exception"/>
            <dw:transform-message doc:name="set error message">
                <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
  "code": "406",
  "message": "Not acceptable",
  "description": flowVars.exception
}]]></dw:set-payload>
            </dw:transform-message>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException"/>
            <set-variable variableName="exception" value="#[(exception.getCauseException().getMessage().split(&quot;\\n&quot;))[0].replace(&quot;\&quot;&quot;,&quot;\\\&quot;&quot;)]" doc:name="exception"/>
            <dw:transform-message doc:name="set error message">
                <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
  "code": "400",
  "message": "Bad request",
  "description": flowVars.exception
}]]></dw:set-payload>
            </dw:transform-message>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
    <flow name="get:/alive:ih-generic-sftp-api-config">
        <set-payload value="{
  &quot;online&quot;: true
}" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/sftp:ih-generic-sftp-api-config">
        <set-variable variableName="incomingType" value="#[message.inboundProperties['content-type']]" doc:name="set type"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-variable variableName="requestDetails"><![CDATA[%dw 1.0
%output application/java
---
{
	relativePath: inboundProperties."http.request.path",
	uriParams: (inboundProperties."http.uri.params")[0],
	data:  write(payload, flowVars.incomingType)
}]]></dw:set-variable>
            <dw:set-variable variableName="queryParams"><![CDATA[%dw 1.0
%output application/java
---
inboundProperties.'http.query.params']]></dw:set-variable>
        </dw:transform-message>
        <flow-ref name="ih-generic-ftp-write_sub_flow" doc:name="ih-generic-ftp-write_sub_flow" />
    </flow>
</mule>
